<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ECommerce">
  <test name="ECommerce test">
 
  
  
    <classes>
      <class name="com.ecommerce.testCases.TC_LoginPageTest_001"/>
      <class name="com.ecommerce.testCases.BaseClass"/>
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
